<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
</head>
<body>
    <p>Twój profil:</p>
    <div>
        <p th:if="${profile.weight == null}">Waga: Zaktualizuj dane</p>
        <p th:unless="${profile.weight == null}" th:text="'Waga: ' + ${profile?.weight} + ' kg'"></p>
        <p th:if="${profile.chestSize == null}">Obwód klatki piersiowej: Zaktualizuj dane</p>
        <p th:unless="${profile.chestSize == null}" th:text="'Obwód klatki piersiowej: ' + ${profile?.chestSize} + ' cm'"></p>
        <p th:if="${profile.armSize == null}">Obwód ramienia: Zaktualizuj dane</p>
        <p th:unless="${profile.armSize == null}" th:text="'Obwód ramienia: ' + ${profile?.armSize} + ' cm'"></p>
        <p th:if="${profile.forearmSize == null}">Obwód przedramienia: Zaktualizuj dane</p>
        <p th:unless="${profile.forearmSize == null}" th:text="'Obwód przedramienia: ' + ${profile?.forearmSize} + ' cm'"></p>
        <p th:if="${profile.thighSize == null}">Obwód uda: Zaktualizuj dane</p>
        <p th:unless="${profile.thighSize == null}" th:text="'Obwód uda: ' + ${profile?.thighSize} + ' cm'"></p>
        <p th:if="${profile.calfSize == null}">Obwód łydki:: Zaktualizuj dane</p>
        <p th:unless="${profile.calfSize == null}" th:text="'Obwód łydki: ' + ${profile?.calfSize} + ' cm'"></p>
        <p th:if="${profile.lastUpdate == null}">Ostatnia aktualizacja:: Zaktualizuj dane</p>
        <p th:unless="${profile.lastUpdate == null}" th:text="'Ostatnia aktualizacja: ' + ${profile?.lastUpdate}"></p>
    </div>

    <button><a th:href="@{/updateProfile}">Zaktualizuj swoje dane</a></button>
    <br>
    <br>
    <form action="logmeout" th:action="@{/logmeout}" method="post">
        <input type="submit" value="Wyloguj"/>
    </form>
</body>
</html>