<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet"  th:href="@{/styles/style.css}" href="../static/styles/style.css">
    <title>Rejestracja na chomiczka</title>
</head>
<body>

<div id="cf">
    <img class="background1" src="../static/images/register-background2.png" th:src="@{/images/register-background2.png}" />
    <img class="background2" src="../static/images/register-background3.png" th:src="@{/images/register-background3.png}" />
</div>

<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div style="text-align: center;"><h3 class="panel-title">Zarejestruj się na Chomiczka!</h3></div>
                </div>
                <div class="panel-body">

                    <form th:action="@{/register}" th:object="${userForm}"  role="form" method="post">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <input th:field="*{username}" type="text" class="form-control input-sm" placeholder="Login">

                                </div>
                            </div>
                        </div>

                        <div class="form-group">

                            <input th:field="*{email}" type="email" id="email" class="form-control input-sm" placeholder="Adres Email">

                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">

                                    <input th:field="${userDto.password}" type="password" class="form-control input-sm" placeholder="Hasło">
                                  
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">

                                    <input th:field="${userDto.confirmPassword}" type="password" class="form-control input-sm" placeholder="Potwierdź hasło">

                                </div>
                            </div>-
                        </div>

                        <input type="submit" value="Zarejestruj się" class="btn btn-info btn-block">

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>