<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Workout summary</title>
</head>
<body>
    <h3>Podsumuj trening</h3>
    <table>
        <thead>
            <tr>
                <th>Ćwiczenie</th>
                <th>Zrobione</th>
            </tr>
        </thead>
            <tbody>
            <form th:action="@{/summarize}" method="post">
                <tr>
                    <td>Podciąganie nachwyt</td>
                    <td>
                        <input type="checkbox" value="false" th:field="${summarize.pullUp}">
                    </td>
                </tr>
                <tr>
                    <td>Pompki</td>
                    <td>
                        <input type="checkbox" value="false" th:field="${summarize.pump}">
                    </td>
                </tr>
                <tr>
                    <td>Muscle upy</td>
                    <td>
                        <input type="checkbox" value="false" th:field="${summarize.muscleUp}">
                    </td>
                </tr>
                <tr>
                    <td>Podciąganie podchwyt</td>
                    <td>
                        <input type="checkbox" value="false" th:field="${summarize.pullUpUnder}">
                    </td>
                </tr>
                <tr>
                    <td>Dipy</td>
                    <td>
                        <input type="checkbox" value="false" th:field="${summarize.dip}">
                    </td>
                </tr>
                <tr>
                    <td>Australian pullup</td>
                    <td>
                        <input type="checkbox" value="false" th:field="${summarize.australianPullUp}">
                    </td>
                </tr>
                <tr>
                    <td>Tiger pushups</td>
                    <td>
                        <input type="checkbox" value="false" th:field="${summarize.tigerPushup}">
                    </td>
                </tr>
                <tr>
                    <td>Diamond pushups</td>
                    <td>
                        <input type="checkbox" value="false" th:field="${summarize.diamondPushUp}">
                    </td>
                </tr>
                <tr>
                    <td>One bar dipy</td>
                    <td>
                        <input type="checkbox" value="false" th:field="${summarize.oneBarDip}">
                    </td>
                </tr>
                <tr>
                    <td>Impossible dipy</td>
                    <td>
                        <input type="checkbox" value="false" th:field="${summarize.impossibleDip}">
                    </td>
                </tr>
                <tr>
                    <td>Planche pushup</td>
                    <td>
                        <input type="checkbox" value="false" th:field="${summarize.planchePushup}">
                    </td>
                </tr>
                <tr>
                    <td>Skin the cat</td>
                    <td>
                        <input type="checkbox" value="false" th:field="${summarize.skinTheCat}">
                    </td>
                </tr>
                <tr>
                    <td>Squads</td>
                    <td>
                        <input type="checkbox" value="false" th:field="${summarize.squad}">
                    </td>
                </tr>
                <tr>
                    <td>Pistol squads</td>
                    <td>
                        <input type="checkbox" value="false" th:field="${summarize.pistolSquad}">
                    </td>
                </tr>
                <tr>
                    <td>Handstand pushup</td>
                    <td>
                        <input type="checkbox" value="false" th:field="${summarize.handstandPushup}">
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" value="Wyslij"></td>
                </tr>
                <tr>
                    <td><p th:text="${errorMessage?.getError()}" style="color:red; font-weight: 600"></p></td>
                </tr>
        </form>
            </tbody>
    </table>
</body>
</html>